<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <main>
    <h1>Detalle de la mascota</h1>
        <div class="detalle-mascota">
        <figure class="side-imagen">
            <img th:src="@{/images/default_image.jpg}" alt="Imagen de perros">
        </figure>
        <div class="info-mascota">
            <article>
                <dl>
                    <div>
                        <dt>ID:</dt>
                        <dd th:text="${mascota.id}"></dd>
                    </div>

                    <div>
                        <dt>Nombre:</dt>
                        <dd th:text="${mascota.nombre}"></dd>
                    </div>

                    <div>
                        <dt>Especie:</dt>
                        <dd th:text="${mascota.especie}"></dd>
                    </div>

                    <div>
                        <dt>Edad:</dt>
                        <dd th:text="${mascota.edad}"></dd>
                    </div>
                </dl>
            </article>

            <nav class="acciones">
                <a th:href="@{/mascotas/nueva}">Volver</a>
                <a th:href="@{/mascotas}">Ver listado completo</a>
            </nav>
        </div>
        </div>
    </main>

</body>
</html>