<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Mascota</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Registrar mascota</h1>
    <form th:action="@{/mascotas}" th:object="${mascota}" method="post">
        <label for="nombre">Nombre</label>
        <input id="nombre" th:field="*{nombre}" placeholder="Nombre de la mascota">
        <div class="err" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>

        <label for="especie">Escoge la especie</label>
        <select id="especie" th:field="*{especie}">
            <option value="">Selecciona una especie</option>
            <option value="perro">Perro</option>
            <option value="gato">Gato</option>
            <option value="conejo">Conejo</option>
        </select>
        <div class="err" th:if="${#fields.hasErrors('especie')}" th:errors="*{especie}"></div>

        <label for="edad">Edad</label>
        <input id="edad" th:field="*{edad}" placeholder="Edad">
        <div class="err" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></div>

        <button type="submit">Enviar</button>
    </form>

</body>
</html>