<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de mascotas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <main>
        <h1>Mascotas disponibles</h1>
        <div class="lista-mascotas">
            <table class="tabla-listado">
                <thead>
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mascota:${mascotas}">
                    <td>
                        <div class="imagen-tabla">
                            <img th:src="@{${mascota.imagen}}" alt="Imagen de mascota" width="120">
                        </div>
                    </td>
                    <td th:text="${mascota.id}"></td>
                    <td th:text="${mascota.nombre}"></td>
                    <td th:text="${mascota.especie}"></td>
                    <td th:text="${mascota.edad}"></td>
                    <td>
                        <a th:href="@{/mascotas/{id}/editar (id=${mascota.id})}">Editar</a>
                        <form th:action="@{/mascotas/borrar}" th:object="${mascota}" method="post">
                            <input type="hidden" name="id" th:value="${mascota.id}">
                            <button type="submit">Borrar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>