:root {
    --color-primario: #F4A261;
    --color-secundario: #2A9D8F;
    --color-acento: #E9C46A;
    --color-fondo-claro: #FAF3E0;
    --color-texto-principal: #264653;
    --color-error: #E76F51;
    --fuente-texto: "Nunito Sans";
    --fuente-titulos: "Londrina Shadow";
    --tamanio-texto: 1.6rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente-texto), sans-serif;
    font-size: var(--tamanio-texto);
    text-align: center;
    color: var(--color-texto-principal);
}

h1 {
  font-family: var(--fuente-titulos), sans-serif;
  font-size: 5.2rem;
    color: var(--color-primario);
}

figure {
    margin: 0;
}

.seccion-formulario,
.detalle-mascota {
    margin: 0 auto;
    border-radius: 2rem;
    max-width: 80%;
    height: 80vh;
    background-color: var(--color-fondo-claro);
    display: flex;
}

.side-imagen {
    flex-basis: 55%;
    border-radius: 2rem 0 0 2rem;
    overflow:hidden;
}

.side-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form,
.info-mascota{
    padding: 2rem 6rem;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

form .inputs div{
    margin-bottom: 2rem;
}

.inputs input,
.inputs select {
    background-color: transparent;
    border-radius: .5rem;
    border: .2rem solid var(--color-secundario);
    width: 100%;
    font-size: var(--tamanio-texto);
    padding: 1rem;
}

.inputs select option {
    background-color: var(--color-fondo-claro);
    border: .2rem solid var(--color-acento);
    border-radius: 0 0 .5rem .5rem;
}

.inputs select option:hover {
    background-color: var(--color-acento);
    color: var(--color-primario);
}

.inputs input:focus,
.inputs input:focus-visible,
.inputs select:focus,
.inputs select:focus-visible{
    border-color: var(--color-acento);
    outline: none;
}

form .inputs div:last-of-type{
    margin-bottom: 0rem;
}

.seccion-formulario .err{
    color: var(--color-error);
    font-weight: bold;
}

button {
    font-size: var(--tamanio-texto);
    min-width: 10rem;
    padding: 1.5rem 3rem;
    background-color: var(--color-acento);
    color: var(--color-texto-principal);
    border:none;
    border-radius: .2rem;
    font-weight: bold;
}

button:hover {
    background-color: var(--color-primario);
}

dl {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

dl > div {
    display: flex;
    gap: 3rem;
    padding-bottom: 1rem;
    border-bottom: .2rem solid var(--color-secundario);
}

dt {
    flex-basis: 15%;
    font-weight: bold;
}

.acciones {
    margin: 1.5rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

a {
    width: auto;
    text-align: center;
    text-decoration: none;
    color: var(--color-texto-principal);
    padding: 1.5rem 4rem;
    border: .2rem solid var(--color-acento);
    border-radius: .2rem;
    font-weight: bold;
}

a:hover {
    background-color: var(--color-acento);
}

.lista-mascotas {
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    max-width: 80%;
    height: 80vh;
    background-color: var(--color-fondo-claro);
}

.tabla-listado {
    text-align: center;
    width: 100%;
}

.tabla-listado th,
.tabla-listado td {
    border-bottom: .2rem solid var(--color-secundario);
    padding: 1rem 0;
}

.tabla-listado td .imagen-tabla{
    margin: 0 auto;
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    overflow:hidden;
}

.tabla-listado td .imagen-tabla img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

