:root {
    --color-primario: #F4A261;
    --color-secundario: #2A9D8F;
    --color-acento: #E9C46A;
    --color-fondo-claro: #FAF3E0;
    --color-texto-principal: #264653;
    --color-error: #E76F51;
    --fuente-texto: "Nunito Sans", sans-serif;
    --fuente-titulos: "Londrina Shadow", sans-serif;
    --tamanio-texto: 1.8rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: var(--tamanio-texto);
    margin: 0 auto;
}

h1 {
  font-family: var(--fuente-titulos);
  font-size: 5.2rem;
}

.seccion-formulario {
    border-radius: 2rem;
    width: 80%;
    background-color: var(--color-fondo-claro);
    display: flex;
}

.seccion-formulario .formulario-imagen {
    flex-basis: 55%;
    border-radius: 2rem;
    overflow:hidden;
}

.seccion-formulario img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion-formulario form {
    padding: 2rem 6rem;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seccion-formulario form .inputs div{
    margin-bottom: 2rem;
}

.seccion-formulario form .inputs div:last-of-type{
    margin:bottom: 0rem;
}

.seccion-formulario .err{
    color: var(--color-error);
}

button {
    font-size: var(--tamanio-texto);
    min-width: 10rem;
    padding: 1rem 3rem;
    background-color: var(--color-secundario);
    color: var(--color-acento);
    border:none;
}

input, select {
    width: 100%;
    font-size: var(--tamanio-texto);
    padding: 1rem;
}

