html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
  font-family: "Londrina Shadow", sans-serif;
  font-size: 5.2rem;
}